<template>
  <div class="bg">
    
  </div>
</template>

<style scoped>
.bg {
  background-image: url('https://opswerks.com/media/img/machine_gears5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
}
.position {
  position: absolute;
  top: 50%;
  left: 20%;
  height: auto;
  width: 40%;
  transform: translate(-50%, -50%)
  }
</style>
