<template>
  <div class="row application-form border rounded">
    <div class="col">
      <div class="row">
        <div class="col">
          <h4>Application | {{ planType }}</h4>

          <hr />

          <div class="form-group">
            <label for="dependentRelationship">Plan Type</label>
            <select
              class="form-control planType"
              v-model="planType"
              @change="updatePlanType"
            >
              <option
                v-for="(x, index) in planOptions"
                :selected="planType == x ? true : false"
                :key="index"
                >{{ x }}</option
              >
            </select>
          </div>

          <hr />

          <h5>Primary Applicant</h5>

          <ApplicantList :applicants="primary" />

          <hr />

          <h5>Dependents</h5>

          <ApplicantList :applicants="dependents" />
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <button v-on:click="close" type="submit" class="btn btn-danger">
            Delete Application
          </button>
        </div>
        <div class="col-sm-12 col-md-9">
          <div class="row" v-if="totalCost != -1">
            <div class="col-sm-6 col-md-6">
              <h5>Plan Breakdown</h5>
              <span class="cost-label">Principal Cost:</span>
              <span class="cost-text">₱{{ principalCost }}</span>
              <br />
              <span class="cost-label">Dependent Cost:</span>
              <span class="cost-text">₱{{ dependentCost }}</span>
            </div>
            <div class="col-sm-6 col-md-6">
              <h5>Plan Cost</h5>
              <h4 class="plan-cost">₱{{ totalCost }}</h4>
            </div>
          </div>
          <div class="row" v-if="totalCost == -1">
            <div class="col-12 invalid-plan-warning">
              <h5>Invalid Plan Details!</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ApplicantList from "./ApplicantList.vue";

export default {
  name: "ApplicationForm",
  props: [
    "planType",
    "primary",
    "dependents",
    "applicationId",
    "principalCost",
    "dependentCost",
    "totalCost",
  ],
  components: {
    ApplicantList,
  },
  data: function() {
    return {
      selectedPlanType: "",
      planOptions: [
        "Suite",
        "Large Private",
        "Regular Private (250)",
        "Regular Private (200)",
        "Senior Suite",
        "Senior Large",
        "Senior Regular (250)",
        "Senior Regular (200)",
      ],
    };
  },
  methods: {
    close: function() {
      this.$emit("closeAppForm", this.applicationId);
    },
    updatePlanType: function() {
      this.$emit("updatePlanType", this.applicationId, this.planType);
    },
  },
  computed: {
    applicationData: function() {
      return {
        planType: this.chosenPlanType,
        primary: this.primary,
        dependents: this.dependents,
      };
    },
  },
};
</script>

<style>
.plan-cost {
  color: red;
  font-weight: bold;
}
.cost-text {
  color: red;
  font-weight: bold;
}

.cost-label {
  color: #2f2f2f;
}

.invalid-plan-warning {
  color: red;
  text-align: center;
}
</style>
